/.git
/.github
/.dockerignore
/.gitignore
/.gcloudignore
/.envrc
/*/Dockerfile
/*.md
/.idea
/.diagrams
*.iml
*.egg-info
__pycache__
.DS_Store
/build-and-publish-images-artifact-registry.yaml
/docker-bake-app-and-infra.hcl
/docker-bake-lint-and-test.hcl
/docker-bake-matrix.hcl
/vars.hcl