/.git
/.github
/.dockerignore
/.gitignore
/.gcloudignore
/.envrc
/*/Dockerfile
/*.md
/.idea
*.iml
*.egg-info
__pycache__
.DS_Store
/build-and-publish-images-artifact-registry.yaml
/docker-bake.hcl
/docker-bake-tests.hcl
/docker-bake-matrix.hcl
/vars.hcl